apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: vrnz
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - env:
        - name: POC
          value: POC
        image: quay.io/redhat-appstudio-qe/byoc-cxim-tenant/byoc-app-elys/vrnz@sha256:85b165c171e8eb115a1e88b742b4d5793c58e84fae76d6bfd65757e60543b53d
        name: my-java-quarkus
        resources: {}
status: {}
