apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: vrnz
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: vrnz
    app.kubernetes.io/part-of: byoc-app-elys
  name: vrnz
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: vrnz
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: vrnz
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/byoc-cxim-tenant/byoc-app-elys/vrnz@sha256:85b165c171e8eb115a1e88b742b4d5793c58e84fae76d6bfd65757e60543b53d
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
